<h1>Data Science Tools and Ecosystem</h1>

### In this notebook, Data Science Tools and Ecosystem are summarized.

<h3>Some of the popular languages that Data Scientists use are:</h3>
<ol type="1">
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
  <li>Java</li>
  <li>Julia</li>
</ol>

### Some of the commonly used libraries used by Data Scientists include:
<ol type='1'>
  <li>TensorFlow</li>
  <li>NumPy</li>
  <li>SciPy</li>
  <li>Pandas</li>
  <li>Matplotlib</li>
</ol>

### Common Data Science Tools
<table align='left'>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <th>R Studio</th>
    </tr>
    <tr>
        <th>Jupyter Notebook</th>
    </tr>
    <tr>
        <th>Google Colab</th>
    </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

<h3> Objectives:</h3>
<ol>
    <li>Introduction of some popular languages used in data science</li>
    <li>Introduction of some common libraries used in data science</li>
    <li>Intorduction of some common tools used in data science</li>
    <li>Examples of arithmetic expressions in Python</li>
</ol>

<h2>Author</h2>
<body>Chen Siang</body>